.btn01 {
  background-color: #ffa62b;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 37px;
}

.btn02 {
  background-color: none;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 37px;
  border: 2px solid #ffffff;
}

.btn03 {
  text-transform: uppercase;
  background-color: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffa62b;
  border-radius: 4px;
  border: 2px solid #ffa62b;
}

.btn04 {
  text-transform: uppercase;
  background-color: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 4px;
  border: 2px solid #ffffff;
}

.button {
  background-color: #ffa62b;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 4px;
}
