.btn01 {
  background-color: #ffa62b;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 37px;
}

.btn02 {
  background-color: none;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 37px;
  border: 2px solid #ffffff;
}
