header,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #252b42;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  line-height: 57px;
  color: #ffffff;
}

p {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
