header,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}
