.provas-bg {
  background-color: #252b42;
}

.provas {
  padding-top: 100px;
  padding-bottom: 100px;
}

.provas h2 {
  font-size: 40px;
  line-height: 57px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.provas p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
}

.provas-items {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 40px;
}

.provas-item {
  background-color: #ffffff;
  padding: 20px 40px;
  text-align: center;
  min-width: 230px;
  max-width: 230px;
}

.provas-item img {
  margin: 0 auto;
  padding-bottom: 0;
}

.provas-item h3 {
  font-weight: 700;
  padding: 10px 0px;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}

.provas-item p {
  font-size: 16px;
  color: #737373;
  font-weight: 700;
  word-break: keep-all;
}

/*responsivo*/

@media (max-width: 1200px) {
  .provas-items {
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .provas {
    padding-top: 40px;
  }
  .provas-items {
    gap: 20px;
    margin: 20px;
  }
}
@media (max-width: 550px) {
  .provas {
    padding: 20px;
  }
  .provas-items {
    justify-content: center;
  }
}

